rtree==0.9.7
fiona
pyproj
shapely
jupyter
pandas
requests
python-dotenv
geopandas==0.9.0
nb_black

google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib


mock
pytest
ipytest
responses~=0.16.0
PyHamcrest
pytest-cov